@media (-o-min-device-pixel-ratio:2/1), (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio:2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
    hr {
        border-bottom-width: .5px;
    }
}
body{
    overflow-x: hidden;
    display: block;
    background-color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Inter, Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    margin: .4rem 0 1.6rem;
}
main{
    padding: 0 1.28rem;
    display: block;
}
.central-textlogo{
    position: relative;
    margin: 4rem auto .5rem;
    width: 270px;
    font-family: Linux Libertine, Hoefler Text, Georgia, Times New Roman, Times, serif;
    font-size: 3rem;
    font-weight: 400;
    line-height: 3.3rem;
    text-align: center;
    font-feature-settings: "ss05";
}
div{
    display: block;
    unicode-bidi: isolate;
}
.central-featured-logo{
    position: absolute;
    top: 153px;
    left: 35px;
}
hr, img{
    border: 0;
}
img{
    vertical-align: middle;
    width: 200px;
    aspect-ratio: auto 200 / 183;
    height: 183px;
    overflow-clip-margin: content-box;
    overflow: clip;
}
img{
    width: 200px;
    aspect-ratio: auto 200 / 183;
    height: 183px;
}
.central-textlogo-wrapper {
    display: inline-block;
    vertical-align: bottom;
}
h1{
    font-size: 3.2rem;
    margin: 1.2rem 0;
    margin-block-start: 0.67rem;
    margin-block-end: 0.67rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.central-textlogo__image {
    color: transparent;
    display: inline-block;
    overflow: hidden;
    text-indent: -10000px;
}
.svg-Wikipedia_wordmark {
    background-position: 0 -304px;
    width: 176px;
    height: 32px;
}
.sprite {
    background-image: linear-gradient(transparent, transparent), url(./assets/image/sprite-de847d1a.svg);
    background-repeat: no-repeat;
    vertical-align: middle;
}
.jsl10n-visible .central-featured, .jsl10n-visible .jsl10n {
    opacity: 1;
}
.localized-slogan {
    display: block;
    font-family: Linux Libertine, Georgia, Times, "Source Serif Pro", serif;
    font-size: 1.5rem;
    font-weight: 400;
}
.central-featured {
    position: relative;
    height: 32.5rem;
    width: 54.6rem;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
nav{
    unicode-bidi: isolate;
}
.central-featured-lang .link-box {
    display: block;
    padding: 0;
    text-decoration: none;
    white-space: normal;
}
.central-featured-lang strong {
    display: block;
    font-size: 1.6rem;
}
b, strong {
    font-weight: 700;
    .central-featured-lang small {
        color: #54595d;
        display: inline-block;
        font-size: 1.3rem;
        line-height: 1.6;
    }
}
.lang-list-button-wrapper {
    text-align: center;
}
.lang-list-button {
    background-color: #f8f9fa;
    display: inline;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding: .6rem 1.2rem;
    outline: 1.6rem solid #fff;
    border: 1px solid #a2a9b1;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #36c;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    transition: outline-width .1s ease-in .5s;
}
.js-enabled .lang-list-container {
    visibility: hidden;
}
.lang-list-container {
    background-color: #f8f9fa;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    max-height: 0;
    width: 80%;
    margin: -1.6rem auto 4.8rem;
    transition: max-height .5s ease-out .16s, visibility .5s ease-in 1s;
}
.lang-list-content {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 1.6rem 1.6rem 0;
}
.banner {
    display: none;
    position: relative;
    z-index: 3;
}
.banner, .banner * {
    box-sizing: border-box;
}
.overlay-banner-main {
    max-width: 500px;
    position: fixed;
    right: 10px;
    bottom: 20px;
    background: #fff;
    border-radius: 10px 10px 0 0;
    width: calc(100% - 20px);
    padding: 0 8px 8px;
    height: 80vh;
    border: 1px solid #a2a9b1;
    box-shadow: 0 0 15px rgba(50, 50, 50, .25);
    -webkit-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    transform-origin: 100% 50%;
    transform: scale(.5);
    visibility: hidden;
    opacity: 0;
}
.overlay-banner-main .frb-header-minimize, .overlay-banner-main .frb-header-minimize-icon {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.overlay-banner-main .frb-header-minimize {
    top: -48px;
    position: absolute;
    right: 10px;
    background: rgba(0, 0, 0, .75);
    border-radius: 12px 12px 0 0;
    padding: 6px 12px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 48px;
    height: 48px;
}
.overlay-banner-main .frb-header-minimize-icon {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    -webkit-box-pack: center;
    justify-content: center;
}
.overlay-banner-main .frb-header-minimize, .overlay-banner-main .frb-header-minimize-icon {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.overlay-banner-main .frb-header-minimize-icon svg {
    filter: invert(1);
    width: 25px;
    height: auto;
    margin-left: -2px;
}
svg:not(:root) {
    overflow: hidden;
}
path{
    d: path("m 17.5 4.75 l -7.5 7.5 l -7.5 -7.5 L 1 6.25 l 9 9 l 9 -9 Z");
}
:not(svg) {
    transform-origin: 0px 0px;
}
.overlay-banner-main-header {
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
}
.overlay-banner-main-header a {
    -webkit-box-flex: 1;
    flex: 1 0 auto;
    text-align: center;
    padding: 11px 6px;
    border: 0;
    background: transparent;
    color: #36c;
    font-weight: 700;
    position: relative;
}
.overlay-banner-main-scroll {
    padding-bottom: 16px;
    max-height: calc(100% - 42px);
    overflow-y: auto;
    overflow-x: hidden;
    transition: max-height .5s;
}
@media (min-width: 720px) {
    .overlay-banner-main-message {
        padding: 12px 20px;
        font-size: 17px;
        line-height: 1.5294117647;
    }
}
.overlay-banner-main-message {
    position: relative;
    clear: both;
    margin-bottom: 12px;
    background-color: #308557;
    color: #fff;
    border-radius: 1.5em;
}
.overlay-banner-main-message-greeting {
    font-size: 1.5em;
    line-height: 1.15;
    font-weight: 700;
    text-align: center;
    margin-top: 8px;
}
.overlay-banner-main-message p {
    font-size: inherit !important;
    line-height: inherit !important;
    margin-bottom: 16px;
}
.overlay-banner-main-message-subheading {
    font-weight: 700;
    text-align: center;
    margin-top: 8px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.overlay-banner-main-amounts, .overlay-banner-main-frequency {
    position: relative;
    background-color: #dbf3ec;
    padding: 15px;
    -moz-border-radius: 1.5em;
    border-radius: 1.5em;
    margin-bottom: 10px;
}
.overlay-banner-main-amounts .error-highlight, .overlay-banner-main-frequency .error-highlight {
    font-weight: 500;
}
.overlay-banner-main-amounts .button-grid, .overlay-banner-main-frequency .button-grid {
    padding: 18px 0 10px;
}

.overlay-banner-main .banner-button, .overlay-banner-main .button-grid {
    width: 100%;
    display: flex
;
}
.overlay-banner-main .button-grid {
    flex-wrap: wrap;
    column-gap: 1%;
    row-gap: 5px;
}
.overlay-banner-main .button-33 {
    -webkit-box-flex: 0;
    flex: 0 1 32%;
    max-width: 32%;
}
.overlay-banner-main .banner-button {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 54px;
    color: #36c;
    background-color: #f8f9fa;
    border-radius: 10px;
    border: 1px solid #a2a9b1;
    text-align: center;
    cursor: pointer;
    transition: all .2s ease;
    font-weight: 700;
    padding: 5px 6px;
    line-height: 1;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
}
.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}
.overlay-banner-main .banner-button-disabled {
    opacity: .5;
    color: #a2a9b1;
}
.overlay-banner-main-footer-cta {
    margin: 8px 0;
    background-color: #f9dde9;
    color: #000;
    padding: 10px 18px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 1.5em;
}
svg{
    width: 20;
    height: 20;
}
.frb-message-icon circle {
    fill: #b32424;
}
circle{
    cx: 10.492;
    cy: 14.492;
    r: 10.492;
}
:not(svg) {
    transform-origin: 0px 0px;
}
.frb-message-icon path {
    fill: #fff;
}
g{
    fill-rule: nonzero;
    fill: none;
}
:not(svg) {
    transform-origin: 0px 0px;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    box-sizing: border-box;
    padding-block: 1px;
    padding-inline: 6px;
}
button, input, optgroup, select, textarea {
    font: inherit;
}
i {
    font-style: italic;
}
.lang-list-button i {
    display: inline-block;
    vertical-align: middle;
}
.lang-list-border {
    background-color: #c8ccd1;
    display: block;
    position: relative;
    max-width: 460px;
    width: 80%;
    margin: -1.6rem auto 1.6rem;
    height: 1px;
    transition: max-width .2s ease-out .4s;
}
.svg-language-icon {
    background-position: 0 -667px;
    width: 22px;
    height: 22px;
}
js-enabled .lang-list-container {
    visibility: hidden;
}
.lang-list-container {
    background-color: #f8f9fa;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    max-height: 0;
    width: 100%;
    padding: 1.6rem 1.6rem 0;
    margin: -1.6rem auto 4.8rem;
    transition: max-height .5s ease-out .16s, visibility .5s ease-in 1s;
}
.bookshelf-container {
    display: block;
    overflow: visible;
    width: 100%;
    height: 1px;
    margin: 2.4rem 0 1.6rem;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.5;
}
.bookshelf .text {
    background-color: #f8f9fa;
    position: relative;
    top: -1.12rem;
    font-weight: 400;
    padding: 0 .8rem;
}
[dir="ltr" i] {
    unicode-bidi: isolate;
}
h2{
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.js-enabled .lang-list-container {
    visibility: hidden;
}
.bookshelf {
    display: block;
    border-top: 1px solid #c8ccd1;
    box-shadow: 0 -1px 0 #fff;
    text-align: center;
    white-space: nowrap;
}
.langlist {
    width: auto;
    margin: 1.6rem 0;
    text-align: left;
}
.langlist>ul {
    column-width: 11.2rem;
}
.hlist ul {
    margin: 0;
    padding: 0;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
.langlist>ul>li {
    display: block;
    line-height: 1.7;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}
li{
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}
ul {
    list-style-type: disc;
}
.hlist li:first-child:before {
    content: none;
}
.langlist>ul>li:before {
    content: none;
}
.hlist li:before {
    content: " · ";
    font-weight: 700;
}
.langlist>ul>li a {
    white-space: normal;
}
a:-webkit-any-link {
    cursor: pointer;
}
li {
    text-align: -webkit-match-parent;
}
user agent stylesheet
ul {
    list-style-type: disc;
}
[dir="rtl" i] {
    unicode-bidi: isolate;
}
.svg-language-icon {
    background-position: 0 -667px;
    width: 22px;
    height: 22px;
}
.lang-list-button i {
    display: inline-block;
    vertical-align: middle;
}
.lang-list-button-text {
    padding: 0 .64rem;
    vertical-align: middle;
}
.svg-arrow-down-blue {
    transition: transform .2s ease-out, -webkit-transform .2s ease-out, -moz-transform .2s ease-out;
    background-position: 0 -577px;
    width: 14px;
    height: 14px;
}
.lang-list-border {
    background-color: #c8ccd1;
    display: block;
    position: relative;
    max-width: 460px;
    width: 80%;
    margin: -1.6rem auto 1.6rem;
    height: 1px;
    transition: max-width .2s ease-out .4s;
}
.lang-list-container {
    background-color: #f8f9fa;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    max-height: 0;
    width: 80%;
    margin: -1.6rem auto 4.8rem;
    transition: max-height .5s ease-out .16s, visibility .5s ease-in 1s;
}
.central-featured-lang {
    position: absolute;
    width: 15.6rem;
}
.lang1{
    top: 0;
    right: 60%;
}
.lang2 {
    top: 0;
    left: 60%;
}
.lang3{
    top: 20%;
    right: 70%;
}
.lang4{
    top: 20%;
    left: 70%;
}
.lang5{
    top: 40%;
    right: 72%;
}
.lang6{
    top: 40%;
    left: 72%;
}
.lang7{
    top: 60%;
    right: 70%;
}
.lang8{
    top: 60%;
    left: 70%;
}
.lang9{
    top: 80%;
    right: 60%;
}
.lang10{
    top: 80%;
    left: 60%;
}
.search-container {
    float: none;
    max-width: 95%;
    width: 540px;
    margin: .4rem auto 1.95rem;
    text-align: center;
    vertical-align: middle;
}
div{
    display: block;
    unicode-bidi: isolate;
}
form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}
.search-container fieldset {
    word-spacing: -4px;
}
.pure-form fieldset {
    margin: 0;
    padding: .56rem 0 1.2rem;
    border: 0;
}
fieldset {
    display: block;
    min-inline-size: min-content;
    margin-inline: 2px;
    padding-block: 0.35em 0.625em;
    padding-inline: 0.75em;
}
input {
    line-height: normal;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    -webkit-rtl-ordering: logical;
    padding-block: 1px;
    padding-inline: 2px;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
input[type="hidden" i] {
    display: none !important;
}
input:not([type="image" i], [type="range" i], [type="checkbox" i], [type="radio" i]) {
    overflow-clip-margin: 0px !important;
    overflow: clip !important;
}
input[type="hidden" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    padding: initial;
    border: initial;
}
input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
}
@media (-o-min-device-pixel-ratio:2/1), (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio:2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
    hr {
        border-bottom-width: .5px;
    }
}
hr {
    clear: both;
    height: 0;
    border-bottom: 1px solid #c8ccd1;
    display: block;
    margin: .26rem 0;
    box-sizing: content-box;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    unicode-bidi: isolate;
    overflow: hidden;
}
.search-container .search-input {
    display: inline-block;
    position: relative;
    width: 73%;
    vertical-align: top;
}
.screen-reader-text {
    display: block;
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
}
label {
    cursor: default;
}
#searchInput {
    -webkit-appearance: none;
    width: 100%;
    height: 4.4rem;
    border-width: 1px 0 1px 1px;
    border-radius: 2px 0 0 2px;
    padding: .8rem 9.6rem .8rem 1.2rem;
    font-size: 1.6rem;
    line-height: 1.6;
    transition: backround .1s ease, border-color .1s ease, box-shadow .1s ease, -webkit-box-shadow .1s ease, -moz-box-shadow .1s ease;
}
.pure-form input[type=search] {
    background-color: #fff;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #a2a9b1;
    box-shadow: inset 0 0 0 1px #fff;
    vertical-align: middle;
}
.styled-select {
    display: block;
    position: absolute;
    top: 1rem;
    bottom: 1.2rem;
    right: 1.2rem;
    max-width: 9.5rem;
    height: 2.4rem;
    border-radius: 2px;
}
.styled-select.js-enabled .hide-arrow {
    padding: 0 2.4rem 0 .8rem;
}
.styled-select .hide-arrow {
    max-width: 6.8rem;
    height: 2.4rem;
    overflow: hidden;
    text-align: right;
}
.search-container .js-langpicker-label {
    display: inline-block;
    margin: 0;
    color: #54595d;
    font-size: 1.3rem;
    line-height: 2.4rem;
    text-transform: uppercase;
}
.styled-select.js-enabled select {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0 2.4rem;
    color: hsla(0, 0%, 100%, 0);
}
label{
    cursor: default;
}
.styled-select.js-enabled select {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0 2.4rem;
    color: hsla(0, 0%, 100%, 0);
}
.styled-select select {
    display: inline;
    min-width: 11rem;
    max-width: 11rem;
    box-sizing: border-box;
    line-height: 2.4rem;
    text-indent: .01px;
    opacity: 0;
    appearance: none;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font: inherit;
}
select:not(:-internal-list-box) {
    overflow: visible !important;
}
select{
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-shadow: none;
    text-align: start;
    -webkit-rtl-ordering: logical;
    white-space: pre;
    border-radius: 0px;
}
option {
    font-weight: normal;
    display: block;
    padding-block-start: 0px;
    padding-block-end: 1px;
    min-block-size: 1.2em;
    padding-inline: 2px;
    white-space: nowrap;
}
.styled-select.js-enabled select option {
    color: #54595d;
}
.styled-select.js-enabled .hide-arrow {
    padding: 0 2.4rem 0 .8rem;
}
.styled-select .hide-arrow {
    max-width: 6.8rem;
    height: 2.4rem;
    overflow: hidden;
    text-align: right;
}
.search-container .sprite.svg-arrow-down {
    position: absolute;
    top: .8rem;
    right: .6rem;
}
.svg-arrow-down {
    background-position: 0 -569px;
    width: 12px;
    height: 8px;
}
i {
    font-style: italic;
}
.search-container button {
    min-height: 4.4rem;
    margin: 0;
    border-radius: 0 2px 2px 0;
    padding: .8rem 1.6rem;
    font-size: 1.6rem;
    z-index: 2;
}
.pure-button-primary-progressive {
    background-color: #36c;
    border-color: #36c;
    color: #fff;
}
.pure-button {
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    user-select: none;
    box-sizing: border-box;
    position: relative;
    min-width: 1.6rem;
    border: 1px solid #a2a9b1;
    font-family: inherit;
    font-weight: 700;
    text-decoration: none;
    vertical-align: top;
    transition: background .1s ease, color .1s ease, border-color .1s ease, box-shadow .1s ease, -webkit-box-shadow .1s ease, -moz-box-shadow .1s ease;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font: inherit;
}
.search-container button .svg-search-icon {
    text-indent: -9999px;
}
.svg-search-icon {
    background-position: 0 -747px;
    width: 22px;
    height: 22px;
}
.overlay-banner-main-footer-identity {
    position: relative;
    clear: both;
    margin: 20px 0 0;
    color: #000;
    border-radius: 1.5em;
    line-height: 1.3;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0 10px;
}
.overlay-banner-main-footer-identity img {
    width: 100%;
    max-width: 110px;
    margin-right: 10px;
}
.overlay-banner-main .button-collapse {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: auto;
    height: 54px;
    color: #000;
    font-weight: 700;
    background: transparent;
    border: 0;
    text-transform: uppercase;
    margin-top: 15px;
    cursor: pointer;
}
overlay-banner-main-scroll {
    padding-bottom: 16px;
    max-height: calc(100% - 42px);
    overflow-y: auto;
    overflow-x: hidden;
    transition: max-height .5s;
}
.overlay-banner-mini {
    position: fixed;
    right: 0;
    left: 0;
    bottom: -500px;
    z-index: 9999;
    background: #308557;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    border-top: 2px solid #266a46;
    box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, .25);
    transition: all .3s ease;
}
.overlay-banner-mini .frb-conversation-close, .overlay-banner-mini .frb-conversation-open {
    top: -50px;
    position: absolute;
    background: rgba(0, 0, 0, .75);
    border-radius: 12px 12px 0 0;
    padding: 6px 12px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    display: none;
    -webkit-box-align: center;
    cursor: pointer;
    width: 48px;
    height: 48px;
}
.frb-conversation-open-icon {
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 2px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.frb-conversation-open-icon svg {
    transform: rotate(180deg);
    filter: invert(1);
    width: 25px;
    height: auto;
}
path{
    d: path("m 17.5 4.75 l -7.5 7.5 l -7.5 -7.5 L 1 6.25 l 9 9 l 9 -9 Z");
}
.overlay-banner-mini .frb-conversation-close, .overlay-banner-mini .frb-conversation-open {
    top: -50px;
    position: absolute;
    right: 10px;
    background: rgba(0, 0, 0, .75);
    border-radius: 12px 12px 0 0;
    padding: 6px 12px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    display: none;
    -webkit-box-align: center;
    cursor: pointer;
    width: 48px;
    height: 48px;
}
.overlay-banner-mini-message {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    padding: 20px 20px 30px;
    cursor: pointer;
}
.overlay-banner-mini-message-text {
    -webkit-box-flex: 0;
    flex: 0 1 1200px;
    max-width: 1200px;
}
.overlay-banner-mini-message h3 {
    color: #fff;
    margin: 0 0 5px;
    font-size: 24px;
    font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
}
h3 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.overlay-banner-mini .frb-message-icon {
    position: relative;
    top: 0;
    margin-right: 3px;
    -webkit-box-flex: 0;
    flex: 0 0 30px;
}
em {
    font-style: italic;
}
.overlay-banner-mini .frb-submit {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    margin: 0;
    width: 240px;
    background-color: #f0bc00;
    border-color: #f0bc00;
    color: #000;
    border-radius: 2px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    transition: background-color .5s ease;
}
.banner__button, .banner__button:hover {
    text-decoration: none;
}
.banner__button {
    border: 1px solid;
    white-space: nowrap;
    line-height: 1;
}
.overlay-banner-mini .frb-message-icon circle {
    fill: #f0bc00;
}
.overlay-banner-mini-message, .overlay-banner-mini.visible .frb-conversation-close, .overlay-banner-mini.visible .frb-conversation-open {
    display: flex
;
}
.overlay-banner-main .button-center {
    margin: 0 auto;
}
.footer:after {
    clear: both;
}
.footer:after, .footer:before {
    content: " ";
    display: table;
}
@media (-o-min-device-pixel-ratio:2/1), (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio:2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
    hr {
        border-bottom-width: .5px;
    }
}
.other-project {
    float: left;
    position: relative;
    width: 33%;
    height: 9rem;
}
.footer {
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
    padding: 4.16rem 1.28rem 0;
    font-size: 1.3rem;
    unicode-bidi: isolate;
}
.footer-sidebar {
    width: 35%;
    float: left;
    clear: left;
    margin-bottom: 3.2rem;
    vertical-align: top;
}
.app-badges .footer-sidebar-content {
    background-color: #f8f9fa;
}
.footer-sidebar-content {
    position: relative;
    max-width: 350px;
    margin: 0 auto;
}
.app-badges .footer-sidebar-text {
    padding-top: .8rem;
    padding-bottom: .8rem;
}
.footer-sidebar-text {
    position: relative;
    margin: 0;
    padding-left: 6rem;
    padding-right: 2rem;
    color: #54595d;
}
.app-badges .sprite.footer-sidebar-icon {
    top: .8rem;
}
.sprite.footer-sidebar-icon {
    position: absolute;
    left: .8rem;
}
.svg-Wikimedia-logo_black {
    background-position: 0 -262px;
    width: 42px;
    height: 42px;
}
.svg-wikipedia_app_tile {
    background-position: 0 -769px;
    width: 42px;
    height: 42px;
}
.footer-sidebar-text {
    position: relative;
    margin: 0;
    padding-left: 6rem;
    padding-right: 2rem;
    color: #54595d;
}
a, a:active, a:focus {
    unicode-bidi: embed;
    outline: 0;
    color: #36c;
    text-decoration: none;
}
a {
    touch-action: manipulation;
}
a {
    background-color: transparent;
}
a:-webkit-any-link {
    cursor: pointer;
}
.jsl10n-visible .central-featured, .jsl10n-visible .jsl10n {
    opacity: 1;
}
.app-badge {
    display: inline-block;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}
.app-badges ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.app-badge a {
    color: transparent;
}
a, a:active, a:focus {
    unicode-bidi: embed;
    outline: 0;
    text-decoration: none;
}
a {
    touch-action: manipulation;
}
a {
    background-color: transparent;
}
a:-webkit-any-link {
    cursor: pointer;
}
.svg-badge_google_play_store {
    background-position: 0 -591px;
    width: 124px;
    height: 38px;
}
.other-projects {
    display: inline-block;
    width: 65%;
}
a.other-project-link {
    text-decoration: none;
}
.other-project-link {
    display: inline-block;
    min-height: 50px;
    width: 90%;
    padding: 1em;
    white-space: nowrap;
}
.other-project-icon {
    display: inline-block;
    width: 50px;
    text-align: center;
}
.svg-Wiktionary-logo_sister {
    background-position: 0 -532px;
    width: 37px;
    height: 37px;
}
.footer hr {
    margin-top: 1.28rem;
}
@media (-o-min-device-pixel-ratio:2/1), (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio:2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
    hr {
        border-bottom-width: .5px;
    }
}
hr {
    clear: both;
    height: 0;
    border-bottom: 1px solid #c8ccd1;
    margin: .26rem 0;
    box-sizing: content-box;
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    unicode-bidi: isolate;
    overflow: hidden;
}
hr, img {
    border: 0;
}
.site-license {
    color: #54595d;
    text-align: center;
}
.other-project-tagline {
    color: #54595d;
    font-size: 1.3rem;
}
.other-project-tagline, .other-project-title {
    display: block;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
small {
    font-size: 1.3rem;
}
script {
    display: none;
}